.info-tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}

.info-icon {
  color: #555; /* Gris moyen */
  border: 2px solid #555; /* Bordure grise */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  width: 24px;  /* Ajustez la taille si nécessaire */
  height: 24px; /* Ajustez la taille si nécessaire */
  font-size: 14px; /* Ajustez la taille du "i" pour le centrer parfaitement */
}

.tooltip-box {
  position: absolute;
  background-color: rgba(85, 85, 85, 0.9); /* Fond gris foncé semi-transparent */
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 10000; /* Assure que la boîte est au-dessus de tout */
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
  white-space: normal; /* Permettre au texte de se briser en plusieurs lignes */
}

/* Positionnements sans la flèche */

/* Direction Top */
.tooltip-top {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

/* Direction Bottom */
.tooltip-bottom {
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

/* Direction Left */
.tooltip-left {
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
}

/* Direction Right */
.tooltip-right {
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
}

.info-tooltip-container:hover .tooltip-box {
  opacity: 1;
  visibility: visible;
}
