
.card {
    width: 100%;
    background: white;
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-main-display {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: var(--card-border-radius);
  }
  
  .card-header {
    width: 100%;
    background: linear-gradient(45deg, #49e223, #8ee48b);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    position: relative;
    overflow: hidden;
  }
  
  .subvention-title {
    color: black;
    font-size: 24px;
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 3.6em;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3); /* Fond semi-transparent */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* Lueur autour du texte */
    border-radius: 5px; /* Coins arrondis */
  }
  
  .subvention-compatibility {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-left: 20px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.3); /* Fond semi-transparent */
    padding: 5px 10px; /* Espace autour du texte */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Lueur autour du texte */
  }
  
  .text {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .card-button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
  }
  
  .card-details-display {
    /* padding: 10px; */
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease, padding 0.3s ease;
}

.card-details-display.show {
    height: auto;
    padding: 10px;
}
