:root {
  --card-border-radius: 18px;
  --button-border-radius: 25px;
  --button-color: #e0e8ef;
  --button-color-active: #4caf50; /* Couleur pour l'état actif */
  --button-text-color: #7e97b8;
  --button-text-color-active: #ffffff; /* Couleur du texte pour l'état actif */
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.button-container {
  margin: 10px 0;
}

.results-container {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.debug-section {
  transition: max-height 0.5s ease-in -0.2s, opacity 0.5s ease-in; 
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.debug-section.show {
  transition: opacity 0.5s ease-out, max-height 0.8s ease-out; 
  max-height: 1000px; 
  opacity: 1;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3498db;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes bounce {
  0%, 100% { transform: scale(0.0) }
  50% { transform: scale(1.0) }
}

.loading-indicator {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.summary {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}
