.autocomplete-container {
  position: relative;
  padding: 0;
  width: 100%; /* Permet au champ de s'adapter à la largeur du conteneur parent */
  max-width: 3500px; /* Limiter la largeur du champ pour qu'il ressemble à un champ de formulaire */
}

.autocomplete-input {
  width: 100%;
  padding: 0px 0px; /* Réduit le padding pour un format de champ de formulaire plus petit */
  font-size: 14px; /* Taille de police plus petite pour un champ de formulaire */
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease; /* Ajoute une transition pour l'effet d'ombre */
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; /* Ombre légère par défaut */
}

.autocomplete-input:focus {
  border-color: #007bff; /* Change la couleur de la bordure au focus */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px 0px inset, 0 0 8px 2px rgba(0, 123, 255, 0.5); /* Accentue l'ombre */
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none; /* Évite une double bordure avec le champ de saisie */
  border-radius: 0 0 4px 4px;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
